*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html    {
    scroll-behavior: smooth;
}

#main-header li, a, button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 9.5%;
    width: 100%;

}

body{
    background-color: #fff  ;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: #0d28ac;
    /**background: linear-gradient(85deg,#660edd, #3250ed, #0985fb );**/
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 13px;
}

#intro{
    background: linear-gradient(45deg,#660edd, #3250ed, #0985fb );
    color: #ffffff;
    padding-bottom: 5px;
    padding-top: 80px;
}


#intro p{
    max-width: 600px;
    text-align: justify;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-buds{
    transition: all 0.3s ease 0s;
    float: right;
}

.logo{
    margin-right: auto;
    cursor: pointer;
}

#navbar{
    list-style: none;
    background-color: none;
    color: #ffffff;
    text-align: right;
}

#navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

#navbar li{
    display: inline-block;
    padding: 0px 20px;
}

#navbar li a{
    transition: all 0.3s ease 0s;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#navbar li a:hover{
    color: #0985fb;
}

button {
    padding: 9px 25px;
    background-color: #0985fb;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

button:hover{
    background-color: #ffffff;
}

.red{
    display: inline-block;
    width: 190px;
    height: 190px;
    background: url(../images/red-closed.png) no-repeat;
    background-size: contain;
    text-align: center;
    color: #555555;
    padding-top: 140px;
    font-size: 18px;
}

.red:hover{
    display: inline-block;
    background-size: contain;
    width: 190px;
    height: 190px;
    background: url(../images/red-open.png) no-repeat;
    background-size: contain;
    transition: all 0.7s ease-in 0s;
}

.red strong:hover{
    color: #555555;
}

.black{
    display: inline-block;
    width: 190px;
    height: 190px;
    background: url(../images/black-closed.png) no-repeat;
    background-size: contain;
    text-align: center;
    color: #555555;
    padding-top: 140px;
    font-size: 18px;
}

.black:hover{
    display: inline-block;
    background-size: contain;
    width: 190px;
    height: 190px;
    background: url(../images/black-open.png) no-repeat;
    background-size: contain;
    transition: all 0.7s ease-in 0s;
}

.black strong:hover{
    color: #555555;
}

.white{
    display: inline-block;
    width: 190px;
    height: 190px;
    background: url(../images/white-closed.png) no-repeat;
    background-size: contain;
    text-align: center;
    color: #555555;
    padding-top: 140px;
    font-size: 18px;
}

.white:hover{
    display: inline-block;
    background-size: contain;
    width: 190px;
    height: 190px;
    background: url(../images/white-open.png) no-repeat;
    background-size: contain;
    transition: all 0.7s ease-in 0s;
}

.white strong:hover{
    color: #555555;
}

.blue{
    display: inline-block;
    width: 190px;
    height: 190px;
    background: url(../images/blue-closed.png) no-repeat;
    background-size: contain;
    text-align: center;
    color: #555555;
    padding-top: 140px;
    font-size: 18px;
}

.blue:hover{
    display: inline-block;
    background-size: contain;
    width: 190px;
    height: 190px;
    background: url(../images/blue-open.png) no-repeat;
    background-size: contain;
    transition: all 0.7s ease-in-out 0s;
}

.blue strong:hover{
    color: #555555;
}

#color-features button {
    padding: 9px 25px;
    background-color: #0985fb;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 38px;
    margin-bottom: 20px;
}

#color-features button:hover{
    background-color: #3250ed;
    color: #fff;
}

a{
    text-decoration: none;
    color: black;
}

a :hover{
    color: #0985fb;
}

/**
.button{
    background-color: #ffffff;
    color: #000000;
    padding: 10px 15px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;
}

.button :hover{
    background: #0985fb;
    color: white;
}
**/
.clr{
    clear: both;
}

#intro {
    line-height: 1.6em;
}
#intro h4{
    font-weight: 400;
    font-size: 18px;
}

#intro h1{
    font-size: 36px;
    padding-top: 10px;
}

#features{
    line-height: 1.6em;
    overflow: hidden;
    padding-top: 50px;
}

#features p {
    max-width: 50%;
}

#features h2{
    padding-top: 3px;
    padding-bottom: 15px;
}

#features h3{
    padding-bottom: 15px;
}

#features2  {
    background: url(../images/BudsPlusSpecs_Feastured1_Performance_D.jpg) 30% no-repeat;
    height: 500px;
    line-height: 1.6em;
    overflow: hidden;
 
    padding: 170px 0px 25px 50px;
    text-align: left;
}

#features2 p {
    max-width: 50%;
    float: right;
}

#features2 strong{
    font-size: 24px;
}

#features3  {
    line-height: 1.6em;
    overflow: hidden;
    padding: 25px 0px 25px 50px;
    text-align: left;
}

#features3 p {
    max-width: 50%;
}

#features3 strong{
    font-size: 24px;
}

#other-features{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#other-features h2{
    text-align: center;
}

#other-features h3{
    color: #000000;
}

#color-features{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#color-features h2{
    margin: auto;
    text-align: center;
}

#color-features h3{
    color: #000000;
}


.akg{
    padding-bottom: 60px;
}

/**
.hearing{
    padding-bottom: 60px;
    max-width: 400px;
    position: absolute;
    top:875px;
    right: 50px;
    background-color: #e0deda;
    padding: 29px 25px;
    border: none;
    border-radius: 40px;
}
**/
.akg-logo{
    padding: 0px 0px 15px 0px;
}


.buds-worn{
    transition: all 0.3s ease 0s;
    float: right;
    padding-left: 25px;
    margin-top: -170px;
    
}

.buds-circle {
    transition: all 0.3s ease 0s;
    float: right;
    padding-left: 25px;
    margin-top: -320px;
    
}

.block {
    float: left;
    width: 25%;
    border: 1px solid #ffffff;
    padding: 15px;
    box-sizing: border-box;
    text-align: justify;
}

.block h3{
    display: block;
    font-size: 1.17em;
    text-align: center;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

#main-footer{
    background-color: #000000;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


hr{
    width: 85%;
    margin: auto;
}

@media only screen and (max-width: 600px) {
     #main-header button {
        display: none;
    }

    #navbar li a {
        font-size: 12px;
        padding: 0px 5px;
    }
    
    .container {
        text-align: justify;
    }

    .main-buds{
        width: 200px;
    }

    .akg-logo {
        width: 100px;
    }

    #features p {
        max-width: 100%;
        
        overflow: hidden;
    }

    .buds-worn {
        margin-top: 0px;
        width: 230px;
        padding-bottom: 0px;
    }

    #features2 {
        background: url(../images/BudsPlusSpecs_Feastured1_Performance_MB.jpg) no-repeat center;
        background-size: 600px;
        height: 595px;
        line-height: 1.6em;
        overflow: hidden;
    }

    #features2 img {
        background-size: 200px;
        display: inline-block;

    }

    #features2 p {
        max-width: 100%;
        padding-top: 170px;
        overflow: hidden;
}

    #features2 .container {
        margin: inherit;
    }

    #features3 p {
        max-width: 100%;
        padding-top: 5px;
        overflow: hidden;
}

    #features3 .container {
        margin: inherit;
    }

   .buds-circle {
       width: 0;
   }

   #color-features .block {
       box-sizing: content-box;
       width: 50%;
       margin: initial;
       padding-left: 80px;
   }

   #other-features .block {
    box-sizing: content-box;
    width: 90%;
    margin-top: -15;;
}

    #other-features p {
        display: inline;
        max-width: 100%;
        text
    }

@media only screen and (min-width: 768px){

}

@media only screen and (min-width: 992px){

}



@media only screen and (max-width: 1430px) {
    
}